<div id="home-index">
    <div id="greeting-msg" class="block">
        Hello, <%= current_user.nickname %>
    </div>
    <h2>Menu</h2>
    <ul>
        <li>
            <p><%= link_to "My Expense", expenses_path, data:{ turbolinks: false } %></p>
        </li>
    </ul>
</div>
