$backgroundColor: #333333;
$borderColor: #fff;
$textActiveColor: #fff;
$textDisabledColor: #777777;
$headerHeight: 60px;

body {
    margin: 0;
    background-color: $backgroundColor;
    color: $textActiveColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: $headerHeight;
    background-color: $backgroundColor;
    color: $textActiveColor;
    border-bottom: 1px solid $borderColor;
    div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 150%;
    }
}

label, em {
    color: $textActiveColor;
}

a {
    text-decoration: none;
    color: $textActiveColor;
}

a:hover {
    color: #5448bb;
}

.notice {
    height: 20px;
    margin: 0;
    padding: 1rem;
    background: #59bd50;
    color: $textActiveColor;
}

.alert {
    height: 20px;
    margin: 0;
    padding: 1rem;
    background: #bd5450;
    color: $textActiveColor;
}

#sign-out-link {
    position: absolute;
    right: 1rem;
    top: 20px;
}

#body {
    width: 100%;
    padding: 2rem;
}

.field {
    margin-bottom: 1rem;
    text-align: center;
    input:nth-of-type(1) {
        width: 100%;
        margin-top: 0.5rem;
    }
}
.actions {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 0.5rem;
    input {
        width: 50%;
    }
}
