// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#body {
    width: 100%;
    padding-top: 2rem;
}

#login-box {
    width: 25%;
    min-width: 250px;
    margin: auto;
}
#devise-links {
    display: flex;
    justify-content: space-evenly;
}
