// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#expenses-index {
    padding: 0.5rem 1rem;
    .block {
        width: 75%;
        min-width: 350px;
        margin: 1rem auto;
    }
    #add-expense-form,
    #edit-expense-form {
        display: none;
        width: 25%;
        min-width: 150px;
        margin: 1rem auto;
    }
    #expenses-table {
        border-collapse: collapse;
        th, td {
            border: 1px solid $borderColor;
            widows: 100%;
            padding: 0.5rem 1rem;
        }
        th:nth-of-type(1) {
            width: 5%;
        }
        th:nth-of-type(2) {
            width: 10%;
        }
        th:nth-of-type(3) {
            width: 15%;
        }
        th:nth-of-type(4) {
            width: 10%;
        }
        th:nth-of-type(5) {
            width: 5%;
        }
        td:nth-of-type(1) {
            width: 5%;
            text-align: center;
        }
        td:nth-of-type(2) {
            width: 10%;
        }
        td:nth-of-type(3) {
            width: 15%;
        }
        td:nth-of-type(4) {
            width: 10%;
        }
        td:nth-of-type(5) {
            width: 5%;
            text-align: center;
            position: relative;
            img {
                position: absolute;
                top: 25%;
                left: 20%;
                cursor: pointer;
                margin-right: 0.2rem;
                transition: 0.2s;
            }
            a {
                position: absolute;
                top: 25%;
                right: 40%;
                margin-left: 0.2rem;
            }
            img:hover,
            {
                width: 18px;
            }
        }
    }
}