// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#expenses-index {
    padding: 0.5rem 1rem;
    .block {
        width: 75%;
        min-width: 350px;
        margin: 1rem auto;
        font-size: calc(8px + 0.5vw);
    }
    #add-expense-form,
    #edit-expense-form {
        display: none;
        width: 25%;
        min-width: 150px;
        margin: 1rem auto;
    }
    #expenses-table {
        border-collapse: collapse;
        th, td {
            border: 1px solid $borderColor;
            widows: 100%;
            padding: 0.5rem 1rem;
        }
        th:nth-of-type(1) {
            width: $expenseIdColWidth;
        }
        th:nth-of-type(2) {
            width: $expenseDateColWidth;
        }
        th:nth-of-type(3) {
            width: $expenseNameColWidth;
        }
        th:nth-of-type(4) {
            width: $expenseCostColWidth;
        }
        th:nth-of-type(5) {
            width: $expenseActionColWidth;
        }
        td:nth-of-type(1) {
            width: $expenseIdColWidth;
            text-align: center;
        }
        td:nth-of-type(2) {
            width: $expenseDateColWidth;
        }
        td:nth-of-type(3) {
            width: $expenseNameColWidth;
        }
        td:nth-of-type(4) {
            width: $expenseCostColWidth;
        }
        td:nth-of-type(5) {
            width: $expenseActionColWidth;
            text-align: center;
            position: relative;
            img {
                position: absolute;
                top: 25%;
                left: 20%;
                width: calc(10px + 0.5vw);
                cursor: pointer;
                margin-right: 0.2rem;
                transition: 0.2s;
            }
            a {
                position: absolute;
                top: 25%;
                right: 40%;
                margin-left: 0.2rem;
            }
            img:hover,
            {
                width: calc(12px + 0.5vw);
            }
        }
    }
}