// Common
$backgroundColor: #333333;
$borderColor: #fff;
$textActiveColor: #fff;
$textDisabledColor: #777777;
$noticeColor: #59bd50;
$alertColor: #bd5450;
$headerHeight: 60px;

// Expense page
$expenseIdColWidth: 5%;
$expenseDateColWidth: 10%;
$expenseNameColWidth: 15%;
$expenseCostColWidth: 10%;
$expenseActionColWidth: 5%;
